# Servidor
PORT=3000
NODE_ENV=development

# Telegram Bot
BOT_TOKEN=your_telegram_bot_token_here

# MongoDB Atlas
MONGODB_URI=your_mongodb_atlas_uri_here

# App
APP_URL=http://localhost:3000
TIMEZONE=America/Lima